<!DOCTYPE html>
<html>

<head>
  <title></title>

</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%- include('detail', {result: result})%>
  </main>


</body>

</html>