<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="../styles/layout.css">
  <title>Hello World!</title>
</head>

<body>
  <main>
    <h1>The World's Coolest Homepage</h1>
  </main>
</body>

</html>